.header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
  z-index: 1000;
}

.menuButton {
  display: none;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}
.logo {
  font-weight: bolder;
}
.navLinks {
  display: flex;
  align-items: center;
}

.button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 15px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 14px;
}

.button:hover {
  background-color: #1890ff;
}

.sideMenu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #001529;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.sideMenu.active {
  display: flex;
}

.closeButton {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

.sideMenu .button {
  margin: 10px 0;
  width: 100%;
  text-align: left;
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }

  .navLinks {
    display: none;
  }
}
